# Ignore everything
*
# whitelist anything that's a directory
!*/

# Whitelist Files
!.gitignore
!Microsoft.PowerShell_profile.ps1
!Other.ps1
!Readme.md

# Whitelist subfolders
!DevOpsScripts/**
!DevOpsScripts.Azure/**
!DevOpsScripts.DevOps/**
!DevOpsScripts.OneDrive/**
!DevOpsScripts.Utils/**
!.vscode/**
!.scripts/**
!.github/**

# Ignore additional folders
.cache
.context.*.json