# Ignore everything
*
# whitelist anything that's a directory
!*/

# Whitelist Files
!.gitignore
!.editorconfig
!Microsoft.PowerShell_profile.ps1
!Other.ps1
!/Readme.md

# Whitelist subfolders
!DevOpsScripts/**
!DevOpsScripts.Azure/**
!DevOpsScripts.DevOps/**
!DevOpsScripts.OneDrive/**
!DevOpsScripts.Utils/**
!DevOpsScripts.Stuff/**
!.vscode/**
!.scripts/**
!.github/**
!Package.nuspec.templ
!packages.config
!nuget.config

# Ignore additional folders
.cache
.context.*.json
/build
