# Ignore everything
*
# whitelist anything that's a directory
!*/

# Whitelist Files
!.gitignore
!.editorconfig
!Microsoft.PowerShell_profile.ps1
!Other.ps1
!/Readme.md

# Whitelist subfolders
!DevOpsScripts/**
!DevOpsScripts.Azure/**
!DevOpsScripts.DevOps/**
!DevOpsScripts.OneDrive/**
!DevOpsScripts.Utils/**
!DevOpsScripts.Stuff/**
!.vscode/**
!.scripts/**
!.github/**
!Module.nuspec.templ
!Module.csproj.templ
# Don't include copy in build-folder
!/nuget.config 

# Ignore additional folders
.cache
.context.*.json
/modules
/bin
