<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netcoreapp5</TargetFramework>
    <PackageId>{{PACKAGE_ID}}</PackageId>
    <Version>{{VERSION}}</Version>
    <Authors>{{AUTHORS}}</Authors>
    <PackageDescription>{{DESCRIPTION}}</PackageDescription>
    <RepositoryURL>https://github.com/LemurDaniel/PROJECT__Powershell_Profile</RepositoryURL>

    <NuspecFile>{{NUSPEC_FILE_PATH}}</NuspecFile>
  
  </PropertyGroup>

</Project>