<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="PackageDescription" value="Just For Testing" />
    <add key="RepositoryURL" value="https://github.com/LemurDaniel/PROJECT__Powershell_Profile" />
    <add key="RepositoryPath" value="https://github.com/LemurDaniel/PROJECT__Powershell_Profile" />
  </config>
</configuration>