div#id {
    font-family: Arial, Helvetica, sans-serif;
}

#id table {
    border-collapse: collapse;
    width: 100%;
}


#id table td,
#id table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#id table tr:nth-child(even) {
    background-color: #F0F8FF;
}

#id table tr:nth-child(odd) {
    background-color: #FFFFFF;
}


#id table tr:hover {
    background-color: #87CEFA;
}

#id table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0080FF;
    color: white;
}